* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  margin: 30px;
}

.profile-card-container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin-left: 190px;
  padding: 10px;
}

.card-meta-container {
  margin: 10px;
}

.main-card {
  padding: 10px;
}
