
.validation-text{
  font-weight: 600;
  color: red;
}
.main{
  justify-content:center;
  padding: 3%;
  
}
.main2{
  justify-content:center;
  padding: 3%;
  
}
.title{
  padding-left: 8%;
  position: static;
}
.mainDiv{
  position: relative;
}