*{
    margin: 10px;
    
}

.paper{
    background-color: blanchedalmond;
}
.mainDiv{
    margin: 10px;
    align-items: center;

    
}

.Card1{
    padding: 4%;
    padding-left: 1.5%;
    width: 100%;
}